.registration{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

}
.reg__suptitle{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 15px;
}
.reg__suptitle a{
   color: rgba(0, 0, 0, 0.5);
}
.reg__suptitle-item.bold{
   font-weight: 700;
}
.registration > .title{
   display: flex;
   justify-content: center;
   margin: 15px 0;
}
.reg__text{
   max-width: 1000px;
   text-align: center;
   font-size: 16px;
   padding: 10px;
}
.reg__form{
   display: flex;
   max-width: 543px;
   flex-wrap: wrap;
   margin: 30px;
}
.reg__form-block{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.f50{
   width: 255px;
}
.f100{
   width: 100%;
}
input{
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 90px;
   width: 100%;
   height: 40px;
   margin-bottom: 20px;
   font-size: 16px;
   padding: 10px;
}
.checkbox{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   
}
.checkbox > label{
   color: rgba(72, 72, 72, 1);
}
.checkbox > label a{
   color: rgba(132, 197, 81, 1);
}
.checkbox > input{
   width: 20px;
   height: 20px;
   margin: 0 10px 0;
}
.reg__btn{
   background-color: rgba(231, 78, 19, 1);
   color: white;
   font-weight: 700;
   cursor: pointer;
}
.round{
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: rgba(132, 197, 81, 1);
   margin: 0 10px;
}
.error{
   display: none;
   color: red;
   margin: 30px;
}
.error.show{
   display: block;
}
#noCheck{
   display: none;
   color: red;
   margin: 10px;
}
#noCheck.show{
   display: block;
}
#errPass{
   display: none;
   color: red;
   margin: 10px;
}
#errPass.show{
   display: block;
}

@media (max-width: 767px){
   .f50{
      width: 100%;
   }
   .reg__form-block{
      flex-wrap: wrap;
   }
}